header{
    background: #FFFFFF;
    margin-top: 64px;
}

nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    
}

a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-menu a::after{
    content:"";
    display: block;
    width: 100%;
    background-color:#FF9900;
    height: 2px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu a:hover::after{
    transform: scale(1);
}

.headline-inner{
    display: flex;
    justify-content: space-around;
    text-align: left;
}


.span-text{
    color: #929A9F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 21px;
    margin: 0;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    margin: 0;
    color: #263640;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #929A9F;
    font-size: 15px;
    line-height: 29px;
    margin: 0;
}

.link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
}

.headline-info{
    margin-top: 200px;
}

.headline-info__title{
    padding-top: 15px;
    color: #263640;
}

.headline-info__description{
    padding-top: 15px;
    padding-right: 196px;
    margin-bottom: 38px;
}

.button{
    background: #FF9900;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 41px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
    padding-left: 16px;
}

.arrow{
    padding-left: 25px;
}

.headline-img{
    padding-top: 95px;
    width: 595px;
    height: 750px;
}

.column{
    background: #F5F8FA;
    padding-bottom: 168px;
}

.column-item__image{
    position: relative;
    right: 41px;
    margin: 0;
}

.column-title{
    padding-top: 178px;
    color: #263640;
}

.column-description{
    font-weight: 400;
    width: 50%;
}

.column-inner{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.column-item__title{
    width: 50%;
    padding-top: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.column-item__description{
    width: 64%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.column-item__link{
    color: #FF9900;
}

.column-item__arrow{
    padding-left: 15px;
}

.diplom-inner{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.diplom-info{
    background: #263640;
    height: 50%;
    margin-top: 50px;
}

.diplom-span{
    padding-top: 100px;
    padding-left: 100px;
}

.diplom-info__title{
    color: #FFFFFF;
    padding-left:100px;
    padding-top: 24px;
}

.diplom-info__description{
    color: #FFFFFF;
    padding-left: 100px;
    padding-top: 24px;
    padding-bottom: 56px;
    padding-right: 72px;
}

hr{
    border: 1px solid #FFFFFF;
    opacity: 0.2;
    margin: 0;
    margin-bottom: 100px;
}

.diplom-info__link{
    position: relative;
    color: #FFFFFF;
    padding-left: 98px;
    bottom:80px;
    width: 100%;
}

.diplom-info__arrow{
    padding-left: 15px;
}

.diplom-img{
    margin-top: 10px;
}

.before-inner{
    display: flex;
    justify-content: space-between;
}

.before-text{
    width: 50%;
    margin-top: 80px;
}

.before-text__title{
    font-size: 30px;
    line-height: 45px;
}

.before-text__description{
    width: 80%;
    padding-top: 16px;
}

.before-button-div{
    margin-top: 183px;
}

.before-button-div__button{
    font-size: 15px;
    line-height: 41px;
}

.before-arrow{
    padding-left: 25px;
}

.blog-inner{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.blog-item{
    padding-right: 67px;
}

.before-text__span{
    margin-top: 80px;  
}

.blog-item__title{
    color: #263640;
    font-size: 20px;
    line-height: 31px;
    padding-top: 32px;
}

.blog-item__description{
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-item__link{
    color:#FF9900;
}

.blog-item__arrow{
    padding-left: 17px;
}

.karrie{
    background: #F5F8FA;
}

.karrie-inner{
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
}

.karrie-info__span{
    padding-bottom: 16px;
    padding-top: 100px;
}

.karrie-info__title{
    margin-bottom: 24px ;
}

.karrie-info__description{
    margin-bottom: 30px;
}

.karrie-info__button{
    padding-left: 50px;
    padding-right: 56px;
}

.karrie-info__arrow{
    padding-left: 15px;
}

.karrie-info__img{
    padding-top: 60px;
}

.footer{
    background: #263640;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.footer-item__title{
    padding-top: 65px;
}

.footer-item__description{
    padding-top: 10px;
}

.footer-hr{
    border: 1px solid #FFFFFF;
    opacity: 0.2;
    margin: 0;
    margin-top: 65px;
}

.under-footer-inner{
    display: flex;
    padding-bottom:40px ;
}

.under-footer__text{
    color: #939BA0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin:0;
    padding-top: 40px;
}

/* Section "headline" */
@media(max-width:1200px){
    .headline-img{
        max-width: 100%;
        max-height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }

    .headline-inner{
        display: block;
    }

    .span-text{
        font-size: 12px;
        line-height: 21px;
        padding-top: 50px;
    }

    .headline-info__title{
        font-size: 20px;
        line-height: 45px;
    }

    .headline-info__description{
        font-size: 13px;
        line-height: 29px;
    }

    .button{
        font-size: 12px;
    }
}

/* Section "column" */
@media(max-width:1176px){
    .column-img{
        max-width: 100%;
        max-height: 100%;
        right: 0;
    }

    .column-title{
        text-align: center;
        font-size: 15px;
        width: 100%;
    }

    .column-description{
        text-align: center;
        font-size: 10px;
        width: 100%;
    }

    .column-inner{
        text-align: center;
        display: block;
    }

    .column-item__title{
        font-size: 15px;
        width: 100%;
    }

    .column-item__description{
        font-size: 10px;
        width: 100%;
    }

    .column-item__link{
        font-size: 10px;

    }
}

/* Section "diplom" */
@media(max-width:1160px){
    .diplom-inner{
        display: block;
        text-align: center;
    }
    .diplom-img{
        max-width: 100%;
        max-height: 100%;
    }

    .diplom-span{
        font-size: 10px;
    }

    .diplom-info__title{
        font-size: 20px;
    }

    .diplom-info__description{
        font-size: 10px;
    }

    .diplom-info__link{
        font-size: 10px;
    }
}

/* Section "blog" */
@media(max-width:1000px){
    .blog-inner{
        display: block;
        text-align: center;
    }

    .before-text__title{
        font-size: 25px;
    }

    .txt-under-title-blog{
        font-size: 15px;
        width: 100%;
    }

    .pre-inner{
        display: block;
        text-align: center
    }

    .pre-title-item{
        font-size:10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pre-button{
        font-size: 10px;
    }

    .pre-button-div{
        margin: 0;
    }

    .blog-item{
        padding: 0;
    }
}

/* Section "karrie" */
@media(max-width:1200px){
    .karrie-inner{
        display: block;
        text-align: center;
    }

    .karrie-img{
        max-width: 100%;
        max-height: 100%;
    }
}

@media(max-width:858px){
    .karrie-above-title{
        font-size: 10px;
    }

    .karrie-title{
        font-size: 25px;
    }

    .karrie-description{
        width: 100%;
        font-size: 15px;
    }

    .karrie-button{
        font-size: 10px;
    }
}

/* Section footer */
@media(max-width:1200px){
    .footer-inner{
        display: block;
        text-align: center;
    }

    .footer-logo{
        max-width: 100%;
        margin-top: 30px;
    }

    .footer-item-title{
        font-size: 10px;
        padding-top: 40px;
    }

    .footer-item-txt{
        font-size: 10px;
    }

    .under-footer-inner{
        display: block;
        text-align: center;
    }
}